.about-text {
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  padding: 15px 0px 15px 0px;
  font-size: 18px;

  .about-text-1 {
    border: 1px solid black;
    width: 45%;
  }

  .about-text-2 {
    border: 1px solid black;
    width: 45%;
  }

  .about-text-3 {
    border: 1px solid black;
    width: 45%;
  }

  .about-text-4 {
    border: 1px solid black;
    width: 45%;
  }

  .about-text-5 {
    border: 1px solid black;
    width: 45%;
  }
}