.home_page {
  margin-top: 20px;
  .home_title {
    margin: 20px;
    font-size: 30px;
  }

  .carousel {
    width: 40%;
    border: 2px solid rgba(238,238,238 ,1);
    border-radius: 5px;
    box-shadow: 5px 10px 20px -20px rgba(85,172,238 ,1);
    margin: auto;

    .carousel-control-prev,.carousel-control-next {
      cursor:pointer;
    }

    .carousel-item, .carousel-item.active {
      align-items:center;
    }
    
    .carousel-item > img { 
      width: 100%; 
    }
  }
}

