.home_page {
  .home_title {
    font-size: 30px;
  }

  .carousel {
    border: 2px solid rgba(238,238,238 ,1);
    border-radius: 5px;
    box-shadow: 5px 10px 20px -20px rgba(85,172,238 ,1);
    margin: 0px 238px;

    .carousel-item > img { 
      width: 100%; 
    }
  }
}

