.nav {
  width: 100%;
  height: 35px;
  font-size: 2.6rem;
  font-weight: 300;
  text-align: center;
  display: flex;
  top: 0;
  @media @tablet {
    height: 30px;
    font-size: 2.2rem;
  }
  @media @phone {
    display: none;
  }
  .about-nav {
    width: 25%;
    height: 100%;
  }
  .classes-nav {
    width: 25%;
    height: 100%;
  }
  .schedule-nav {
    width: 25%;
    height: 100%;
  }
  .contact-nav {
    width: 25%;
    height: 100%;
  }
}