.nav {
  width: 80%;
  height: 45px;
  font-size: 2.6rem;
  font-weight: 300;
  text-align: center;
  display: flex;
  background-color: @white;
  font-family: @primary-font;
  margin: auto;
  justify-content: space-around;
  border: 1px solid rgba(238,238,238 ,1);
  border-radius: 5px;
  box-shadow: 5px 10px 20px -20px rgba(85,172,238 ,1);
  @media @tablet {
    width: 80%;
    height: 35px;
    font-size: 2.2rem;
  }
  @media @phone {
    width: 100%;
    .span {
      display: none;
    }
  }
  
 
  .home-nav {
    width: 20%;
    height: 100%;
    color: @blue;
    border: 1px 0px solid rgba(238,238,238 ,1);
    border-radius: 0px 20px;

    .fa-home {
      margin-right: 4px;
    }
  }
  .home-nav:hover {
    background-color: @light-blue;
    color: @white;
  }
  .about-nav {
    width: 20%;
    height: 100%; 
    color: @blue;
    border: 1px 0px solid rgba(238,238,238 ,1);
    border-radius: 0px 20px;
    
    .fa-info-circle {
      margin-right: 4px;
    }
  }
  .about-nav:hover {
    background-color: @light-blue;
    color: @white;
  }
  .classes-nav {
    width: 20%;
    height: 100%;
    color: @blue;
    border: 1px 0px solid rgba(238,238,238 ,1);
    border-radius: 0px 20px;

    .fa-book {
      margin-right: 4px;
    }
  }
  .classes-nav:hover {
    background-color: @light-blue;
    color: @white;
  }
  .schedule-nav {
    width: 20%;
    height: 100%;
    color: @blue;
    border: 1px 0px solid rgba(238,238,238 ,1);
    border-radius: 0px 20px;

    .fa-calendar {
      margin-right: 4px;
    }
  }
  .schedule-nav:hover {
    background-color: @light-blue;
    color: @white;
  }
  .contact-nav {
    width: 20%;
    height: 100%;
    color: @blue;
    border: 1px 0px solid rgba(238,238,238 ,1);
    border-radius: 0px 20px;

    .fa-phone {
      margin-right: 4px;
    }
  }
  .contact-nav:hover {
    background-color: @light-blue;
    color: @white;
  }
}