@phone: ~"(max-width: 600px)";

@tablet: ~"(max-width: 900px)";

@desktop: ~"(max-width: 1200px)";

@giant: ~"(max-width: 1800px)";

// Colors

@red: #B23850;

@blue: #3B8BEB;

@white: #fafafa;

@light-blue: #C4DBF6;

@purple: #B590AA;

// Fonts

@primary-font: ~"Arial, Helvetica, sans-serif";
@secondary-font: ~"'Questrial', sans-serif";
