html {
  font-size: 62.5%;
  position: relative;
  min-height: 100%;
}
html,
body {
  margin: 0;
  padding: 0;
}
html::-webkit-scrollbar,
body::-webkit-scrollbar {
  width: 12px;
}
html::-webkit-scrollbar-thumb,
body::-webkit-scrollbar-thumb {
  background: #fafafa;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}
html::-webkit-scrollbar-track,
body::-webkit-scrollbar-track {
  background-color: #fafafa;
}
* {
  box-sizing: border-box;
  outline: none;
}
button:hover {
  transform: scale(1.1);
}
.home_page {
  margin-top: 20px;
}
.home_page .home_title {
  margin: 20px;
  font-size: 30px;
}
.home_page .carousel {
  width: 40%;
  border: 2px solid #eeeeee;
  border-radius: 5px;
  box-shadow: 5px 10px 20px -20px #55acee;
  margin: auto;
}
.home_page .carousel .carousel-control-prev,
.home_page .carousel .carousel-control-next {
  cursor: pointer;
}
.home_page .carousel .carousel-item,
.home_page .carousel .carousel-item.active {
  align-items: center;
}
.home_page .carousel .carousel-item > img {
  width: 100%;
}
.App {
  text-align: center;
}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.App-link {
  color: #61dafb;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.nav {
  width: 80%;
  height: 45px;
  font-size: 2.6rem;
  font-weight: 300;
  text-align: center;
  display: flex;
  background-color: #fafafa;
  font-family: apple-system,BlinkMacSystemFont, Segoe UI ",Roboto,Helvetica,Arial,sans-serif";
  margin: auto;
  align-items: center;
  border: 1px solid #eeeeee;
  border-radius: 5px;
  box-shadow: 5px 10px 20px -20px #55acee;
}
@media (max-width: 900px) {
  .nav {
    height: 35px;
    font-size: 2.2rem;
    margin: auto;
  }
}
@media (max-width: 600px) {
  .nav {
    display: none;
  }
}
.nav .home-nav {
  width: 20%;
  height: 100%;
  color: #3B8BEB;
  border: 1px 0px solid #eeeeee;
  border-radius: 0px 20px;
}
@media (max-width: 600px) {
  .nav .home-nav {
    display: none;
  }
}
.nav .home-nav .fa-home {
  margin-right: 4px;
}
.nav .home-nav:hover {
  background-color: #C4DBF6;
  color: #fafafa;
}
.nav .about-nav {
  width: 20%;
  height: 100%;
  color: #3B8BEB;
  border: 1px 0px solid #eeeeee;
  border-radius: 0px 20px;
}
.nav .about-nav .fa-info-circle {
  margin-right: 4px;
}
.nav .about-nav:hover {
  background-color: #C4DBF6;
  color: #fafafa;
}
.nav .classes-nav {
  width: 20%;
  height: 100%;
  color: #3B8BEB;
  border: 1px 0px solid #eeeeee;
  border-radius: 0px 20px;
}
.nav .classes-nav .fa-book {
  margin-right: 4px;
}
.nav .classes-nav:hover {
  background-color: #C4DBF6;
  color: #fafafa;
}
.nav .schedule-nav {
  width: 20%;
  height: 100%;
  color: #3B8BEB;
  border: 1px 0px solid #eeeeee;
  border-radius: 0px 20px;
}
.nav .schedule-nav .fa-calendar {
  margin-right: 4px;
}
.nav .schedule-nav:hover {
  background-color: #C4DBF6;
  color: #fafafa;
}
.nav .contact-nav {
  width: 20%;
  height: 100%;
  color: #3B8BEB;
  border: 1px 0px solid #eeeeee;
  border-radius: 0px 20px;
}
.nav .contact-nav .fa-phone {
  margin-right: 4px;
}
.nav .contact-nav:hover {
  background-color: #C4DBF6;
  color: #fafafa;
}
