html {
  font-size: 62.5%;
  position: relative;
  min-height: 100%;
}
html,
body {
  margin: 0;
  padding: 0;
}
html::-webkit-scrollbar,
body::-webkit-scrollbar {
  width: 12px;
}
html::-webkit-scrollbar-thumb,
body::-webkit-scrollbar-thumb {
  background: #fafafa;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}
html::-webkit-scrollbar-track,
body::-webkit-scrollbar-track {
  background-color: #fafafa;
}
* {
  box-sizing: border-box;
  outline: none;
}
button:hover {
  transform: scale(1.1);
}
.home_page {
  margin-top: 20px;
}
.home_page .home_title {
  margin: 20px;
  font-size: 30px;
}
.home_page .carousel {
  width: 60%;
  border: 2px solid #eeeeee;
  border-radius: 5px;
  box-shadow: 5px 10px 20px -20px #55acee;
  margin: auto;
  overflow: hidden;
  max-height: 700px;
}
@media (max-width: 900px) {
  .home_page .carousel {
    width: 80%;
  }
}
@media (max-width: 600px) {
  .home_page .carousel {
    width: 100%;
  }
}
.home_page .carousel .carousel-control-prev,
.home_page .carousel .carousel-control-next {
  cursor: pointer;
}
.home_page .carousel .carousel-item,
.home_page .carousel .carousel-item.active {
  align-items: center;
}
.home_page .carousel .carousel-item > img {
  width: 100%;
  height: 100%;
}
.App {
  text-align: center;
}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.App-link {
  color: #61dafb;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.nav {
  width: 100%;
  height: 45px;
  font-size: 2.6rem;
  font-weight: 300;
  text-align: center;
  display: flex;
  background-color: #fafafa;
  font-family: Arial, Helvetica, sans-serif;
  margin: auto;
  justify-content: space-around;
  border: 1px solid #eeeeee;
  border-radius: 5px;
  box-shadow: 5px 10px 20px -20px #55acee;
}
@media (max-width: 900px) {
  .nav {
    height: 35px;
    font-size: 2.2rem;
  }
}
@media (max-width: 600px) {
  .nav .span {
    display: none;
  }
}
.nav .home-nav {
  width: 20%;
  height: 100%;
  color: #3B8BEB;
  border: 1px 0px solid #eeeeee;
}
.nav .home-nav .fa-home {
  margin-right: 4px;
}
.nav .home-nav:hover {
  background-color: #C4DBF6;
  color: #fafafa;
}
.nav .about-nav {
  width: 20%;
  height: 100%;
  color: #3B8BEB;
  border: 1px 0px solid #eeeeee;
}
.nav .about-nav .fa-info-circle {
  margin-right: 4px;
}
.nav .about-nav:hover {
  background-color: #C4DBF6;
  color: #fafafa;
}
.nav .classes-nav {
  width: 20%;
  height: 100%;
  color: #3B8BEB;
  border: 1px 0px solid #eeeeee;
}
.nav .classes-nav .fa-book {
  margin-right: 4px;
}
.nav .classes-nav:hover {
  background-color: #C4DBF6;
  color: #fafafa;
}
.nav .schedule-nav {
  width: 20%;
  height: 100%;
  color: #3B8BEB;
  border: 1px 0px solid #eeeeee;
}
.nav .schedule-nav .fa-calendar {
  margin-right: 4px;
}
.nav .schedule-nav:hover {
  background-color: #C4DBF6;
  color: #fafafa;
}
.nav .contact-nav {
  width: 20%;
  height: 100%;
  color: #3B8BEB;
  border: 1px 0px solid #eeeeee;
}
.nav .contact-nav .fa-phone {
  margin-right: 4px;
}
.nav .contact-nav:hover {
  background-color: #C4DBF6;
  color: #fafafa;
}
.about {
  width: 100%;
  margin: auto;
  display: flex;
  flex-flow: column;
  padding: 10px 0px;
  font-family: Arial, Helvetica, sans-serif;
}
@media (max-width: 900px) {
  .about {
    padding: 8px 0;
  }
}
@media (max-width: 600px) {
  .about {
    padding: 5px 0;
  }
}
.about .about-content {
  width: 100%;
  height: 50vw;
  max-height: 260px;
  display: flex;
  overflow: hidden;
  justify-content: center;
  font-weight: bold;
}
.about .about-content .about-text-1 {
  display: flex;
  align-items: center;
  margin: 0;
  padding-left: 95px;
  width: 45%;
  height: 100%;
  font-size: 23px;
  z-index: 1;
  border-radius: 5px;
  box-shadow: 5px 10px 20px -20px #55acee;
}
@media (max-width: 1200px) {
  .about .about-content .about-text-1 {
    padding: 0 30px;
  }
}
@media (max-width: 900px) {
  .about .about-content .about-text-1 {
    font-size: 18px;
    padding: 0 20px;
  }
}
@media (max-width: 600px) {
  .about .about-content .about-text-1 {
    font-size: 13px;
    padding: 0 10px;
  }
}
.about .about-content .about-text-2 {
  display: flex;
  align-items: center;
  margin: 0;
  padding-right: 95px;
  width: 45%;
  height: 100%;
  font-size: 23px;
  order: 1;
  border-radius: 5px;
  box-shadow: 5px 10px 20px -20px #55acee;
}
@media (max-width: 1200px) {
  .about .about-content .about-text-2 {
    padding: 0 30px;
  }
}
@media (max-width: 900px) {
  .about .about-content .about-text-2 {
    font-size: 18px;
    padding: 0 20px;
  }
}
@media (max-width: 600px) {
  .about .about-content .about-text-2 {
    font-size: 13px;
    padding: 0 10px;
  }
}
.about .about-content .about-text-3 {
  display: flex;
  align-items: center;
  margin: 0;
  padding-left: 95px;
  width: 45%;
  height: 100%;
  font-size: 23px;
  border-radius: 5px;
  box-shadow: 5px 10px 20px -20px #55acee;
}
@media (max-width: 1200px) {
  .about .about-content .about-text-3 {
    padding: 0 30px;
  }
}
@media (max-width: 900px) {
  .about .about-content .about-text-3 {
    font-size: 18px;
    padding: 0 20px;
  }
}
@media (max-width: 600px) {
  .about .about-content .about-text-3 {
    font-size: 13px;
    padding: 0 10px;
  }
}
.about .about-content .about-text-4 {
  display: flex;
  align-items: center;
  margin: 0;
  padding-right: 95px;
  width: 45%;
  height: 100%;
  font-size: 23px;
  order: 1;
  border-radius: 5px;
  box-shadow: 5px 10px 20px -20px #55acee;
}
@media (max-width: 1200px) {
  .about .about-content .about-text-4 {
    padding: 0 30px;
  }
}
@media (max-width: 900px) {
  .about .about-content .about-text-4 {
    font-size: 18px;
    padding: 0 20px;
  }
}
@media (max-width: 600px) {
  .about .about-content .about-text-4 {
    font-size: 13px;
    padding: 0 10px;
  }
}
.about .about-content .about-text-5 {
  display: flex;
  align-items: center;
  margin: 0;
  padding-left: 95px;
  width: 45%;
  height: 100%;
  font-size: 23px;
  border-radius: 5px;
  box-shadow: 5px 10px 20px -20px #55acee;
}
@media (max-width: 1200px) {
  .about .about-content .about-text-5 {
    padding: 0 30px;
  }
}
@media (max-width: 900px) {
  .about .about-content .about-text-5 {
    font-size: 18px;
    padding: 0 20px;
  }
}
@media (max-width: 600px) {
  .about .about-content .about-text-5 {
    font-size: 13px;
    padding: 0 10px;
  }
}
.about .about-content .images {
  height: 259px;
  margin: 0 50 0 100px;
  height: auto;
  border: 2px solid #eeeeee;
  border-radius: 5px;
  box-shadow: 5px 10px 20px -20px #55acee;
  max-width: 400px;
  width: 100%;
}
@media (max-width: 900px) {
  .about .about-content .images {
    margin: 0 12.5 0 25px;
  }
}
@media (max-width: 600px) {
  .about .about-content .images {
    margin: 0 -10px;
  }
}
.slider {
  position: relative;
  width: 600px;
  margin: 0 auto;
  height: 500px;
  overflow: hidden;
  white-space: nowrap;
}
@media (max-width: 900px) {
  .slider {
    width: 500px;
    margin: 0 auto;
    height: 500px;
  }
}
@media (max-width: 600px) {
  .slider {
    font-size: 13px;
    padding: 0 10px;
  }
}
.slider .slider-wrapper {
  position: relative;
  height: 100%;
  width: 100%;
}
.slider .slider-wrapper .slide {
  display: inline-block;
  height: 100%;
  width: 100%;
}
.slider .arrow {
  height: 50px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f9f9f9;
  border-radius: 50%;
  cursor: pointer;
  transition: transform ease-in 0.1s;
}
.slider .nextArrow {
  position: absolute;
  top: 50%;
  right: 25px;
  z-index: 999;
  color: #fff;
}
.slider .backArrow {
  position: absolute;
  top: 50%;
  left: 25px;
  z-index: 999;
  color: #fff;
}
.slider .fa-arrow-right:before,
.slider .fa-arrow-left:before {
  color: #222;
}
